/* this is css file*/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

nav {
    display: flex;
}

nav>a {
    padding: 8px;
    border: 1px solid;
    text-decoration: none;
    color: black;
}

.banner-img {
    border: 1px solid;
    height: 500px;
}

.our-profile-content {
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}

.achievement-content {
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}

.message-us-content {
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}

/* Styling for the Back to Top button */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

#backToTop:hover {
    background-color: #0056b3;
}


footer {
    text-align: center;
}